.navbar {
  background-color: yellowgreen;
}

.navbar-brand img {
  height: 50px;
  width: 50px;
}

.navbar-nav a {
  color: white;
  font-family: monospace;
  font-size: 35px;
}

.navbar-nav a:hover {
  color: grey;
}

.navbar-nav>.nav-item>.dropdown-menu>a {
  color: black;
}

.navbar-nav>.nav-item>.dropdown-menu>a:hover {
  color: grey;
  background-color: yellowgreen;
}

.container {
  padding-top: 20px;
	background: white;
}

.container>.row img {
  height: 50px;
  width: 50px;
}

.container>.row>.cabecera {
  display: flex;
}

.container>.row>.cabecera>.text-header>a.user {
  color: grey;
}
.navbar>.col>a>img{
  height: 40px;
  width:50px;
}
hr{
  width: 80%;
}

.coolButtons {
	background-color: #f4511e;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	justify-content: center;
	font-size: 16px;
	margin: 2px 2px;
	opacity: 0.6;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;

}

.coolButtons:hover {opacity: 1}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}
