<hr>
<form [formGroup]="postForm" (ngSubmit)="makeChanges()">
	<div class="container">
		<div class="row">
			<div class="cabecera">
				<div class="text-header">

					<div *ngIf="edit2 == false">
						<h1>{{title}}</h1>
					</div>
					<div *ngIf="edit2 == true && actualPost != undefined">
						<input formControlName="title" class="form-control" type="text" value="{{actualPost.title}}"
									 placeholder="Titulo"/>
					</div>
					<a class="user" routerLink="/profile/{{username}}">{{username}}</a>
					<div *ngIf="edit2 == true && actualPost != undefined">
						<select formControlName="class" class=" form-control custom-select custom-select-lg mb-3">
							<option>Mamiferos</option>
							<option>Peces</option>
							<option>Anfibios</option>
							<option>Reptiles</option>
							<option>Aves</option>
						</select>
					</div>
					<div *ngIf="edit2 == false">
						<p>{{classe}}</p>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div *ngIf="edit2 == false">
			<p>{{description}}</p>
		</div>
		<div *ngIf="edit2 == true && actualPost != undefined">
			<input formControlName="description" class="form-control" type="text" value="{{actualPost.description}}"
						 placeholder="Descripcion"/>
		</div>
		<div class="row" *ngIf="images != undefined && images != null && images.length != 0">
			<div class="col-6 text-center" *ngFor="let image of images">
				<a href="{{image}}">
				<img src="{{image}}" style="width:auto; height: auto" class="img-thumbnail"/>
				</a>
			</div>
		</div>


		<div *ngIf="edit == true && edit2 == false">
			<input class="coolButtons col-12 ml-auto" type="button" style="padding-left:0 ; background: dodgerblue"
						 value="Editar" (click)="activateEdit()">
			<input class="coolButtons col-12 ml-auto" type="button" style="padding-left:0 ; background: red" value="Borrar"
						 (click)="deletePost()">
		</div>

		<div *ngIf="edit == true && edit2 == true">
			<input class="coolButtons col-12 ml-auto" type="submit" style="padding-left:0 ; background: green" value="Guardar"
						 (click)="makeChanges()">
			<input class="coolButtons col-12 ml-auto" type="button" style="padding-left:0" value="Cancelar"
						 (click)="desactivateEdit()">
		</div>
	</div>
</form>
<hr>

