
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-light" style="opacity: 0;">
	<div class="center">
		<div>
			<ul class="social">
				<li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
				<li><a><i class="fa fa-github" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>
</nav>
<nav class="navbar fixed-bottom navbar-light">
  <div class="center">
    <div id="social-test">
        <ul class="social">
          <li><a href="https://www.youtube.com/watch?v=RSLlwt49be0"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=RSLlwt49be0"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=RSLlwt49be0"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=RSLlwt49be0"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=RSLlwt49be0"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        </ul>
    </div>
  </div>
</nav>



