
.navbar {
  background: #76b852;
  position: sticky;
}

.navbar-brand img {
  height: 50px;
  width: 50px;
}

.navbar-nav a {
  font-size: 2em;
  text-align: center;
  color: #fff;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.navbar-nav a:hover {
  color: black;
}

.navbar-nav>.nav-item>.dropdown-menu>a {
  color: black;
}

.navbar-nav>.nav-item>.dropdown-menu>a:hover {
  color: white;
  background: #76b852;
}

.container>.row img {
  height: 100px;
  width: 100px;
}

.container>.row>.cabecera {
  display: flex;
}

.container>.row>.cabecera>.text-header>a.user {
  color: black;
}
.navbar>.col>a>img {
  height: 40px;
  width: 50px;
}

body{
	background: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

.search {
	width: 100%;
	position: relative;
	display: flex;
}

.searchTerm {
	width: 100%;
	border: 3px solid #b83131;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #d53b3b;
}

.searchTerm:focus{
	color: black;
}

.searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #b83131;
	background: #b83131;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



